<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muybaby.food.mapper.FavoriteMapper">

    <insert id="insertFavorite" parameterType="com.muybaby.food.bean.Favorite">
        INSERT INTO favorites (user_id, dish_id)
        VALUES (#{userId}, #{dishId})
    </insert>

    <delete id="deleteFavorite" parameterType="map">
        DELETE FROM favorites
        WHERE user_id = #{userId} AND dish_id = #{dishId}
    </delete>

    <select id="selectFavoriteById" parameterType="java.lang.Long" resultType="com.muybaby.food.bean.Favorite">
        SELECT favorite_id, user_id, dish_id
        FROM favorites
        WHERE favorite_id = #{favoriteId}
    </select>    

    <select id="selectFavoritesByUserId" parameterType="java.lang.Long" resultType="com.muybaby.food.bean.Dish">
        SELECT d.*
        FROM dish d
        INNER JOIN favorites f ON d.dish_id = f.dish_id
        WHERE f.user_id = #{userId}
    </select>    

    <select id="selectFavoriteByUserIdAndDishId" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM favorites
        WHERE user_id = #{userId} AND dish_id = #{dishId}
    </select>

</mapper>